    <button ng-click="">click</button>

    <!--
    <button ng-click="onLoadPage()">click</button>
    -->

    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">{{searchQuery}}</h1>
          </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
              <iframe width="512" height="288" ng-src="{{trustSrc(episodPlayer)}}" frameborder="0"></iframe>
            </iframe>
            </div>

            <div class="col-md-4">
              <h3>Список сезонов и серий</h3>
              <div class="menu-container">
                <div ng-repeat="season in arrayOfTheNumberOfSeasons">
                  <input id="ac-{{season.id}}" name="accordion-1" type="radio" checked />
                  <label for="ac-{{season.id}}">Сезон {{season.id}}</label>
                  <ul ng-repeat="episod in arrayOfTheNumberOfEpisodes">
                    <li><a href="#/{{title}}/{{season.id}}/{{episod.id}}/{{numberOfSeasons}}/{{maxNumberOfEpisodes}}">Серия {{episod.id}}</a></li>
                  </ul>
                </div>
              </div>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Другие источники</h3>
            </div>

            <div class="col-md-3" ng-repeat="nextSource in anotherEpisodPlayer">
              <iframe width="240" height="120" ng-src="{{trustSrc(nextSource.player)}}" frameborder="0"></iframe>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; VK Serials DOBbi 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
