<div id="loginForm"> <!-- showForm -->
  <p>Панель авторизации:</p>
  <a ng-click="login()" ng-show="displayLoginForm" class="btn btn-primary">Авторизоваться</a>
  <a ng-click="logout()" ng-hide="displayLoginForm" class="btn btn-primary">Разлогиниться</a>
</div>
<br>
<br>

    <!-- Page Search -->

<div id="wrapper"> <!-- showForm -->
    <div class="row">
      <div class="col-lg-6">
        <div>
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText.title">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Трейлеры</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row" ng-repeat="serial in availableSerials | filter: searchText">
            <div class="col-md-7">
                <iframe width="426" height="240" ng-src="{{trustSrc(serial.trailer)}}" frameborder="0">
                </iframe>
            </div>
            <div class="col-md-5">
                <h3><strong>{{serial.title}}</strong></h3>
                <h4><strong>Жанр:</strong> {{serial.genres}}</h4>
                <p>{{serial.description}}</p>
                <a class="btn btn-primary" href="#/{{serial.title}}/1/1/{{serial.numberOfSeasons}}/{{serial.maxNumberOfEpisodes}}">Смотреть сериал<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; VK Serials DOBbi 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</div>
