    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Трейлеры</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row" ng-repeat="serial in availableSerials | filter: searchText">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{{serial.poster}}" alt="" width="300" style="margin-bottom: 10px;">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>{{serial.title}}</strong></h3>
                <h4><strong>Жанр:</strong> {{serial.genres}}</h4>
                <p>{{serial.description}}</p>
                <a class="btn btn-primary" href="#/about">Смотреть сериал<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; VK Serials DOBbi 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>